---
import ArticleCard2 from "../../components/ArticleCard2.astro";
import StyleGridContainer1 from "../../components/StyleGridContainer1.astro";
import Layout from "../../layouts/Layout.astro";
import { createFullUrlWithSlug } from "../../utils/slugCreator";
import {blogPosts} from '../../data/posts'
const canonical = createFullUrlWithSlug("/blog/")

---

<Layout title="Blog" description="colección de noticias y tutos de kuromi." canonical={canonical} schemas={[]} >
    <section>
      <h1>Blog de kuromi</h1>
      <p>
        colección de noticias y tutos de kuromi.
      </p>
    </section>
    <section>
      <StyleGridContainer1 widthCard="300px" >
        {
          blogPosts.map(p=>(
            <ArticleCard2 title={p.headline} imageUri={p.image[0]} shortText={p.description} slug={p.canonical} />
          ))
        }
      </StyleGridContainer1>
    </section>

</Layout>

<style>
    
    
</style>