---
import Layout from "../layouts/Layout.astro"
import { audifonos } from "../data/audifonos"
import ProductCard1 from "../components/ProductCard1.astro"
const title = "Audifonos de kuromi, se parte de su mundo"
const description = "Adquiere audifonos de kuromi con la mejor calidad del mundo"
---

<Layout title={title} description={description} >
    <section>
        <h1>Audifonos de kuromi</h1>
        <p>
            Colección completa de audifonos de kuromi, son adorables y gran calidad.
        </p>
        <div class="grid-products">
            {
                audifonos.map((audifono)=>(
                    <ProductCard1 
                    nombre={audifono.nombre} 
                    imagen={audifono.imagen} 
                    precio={audifono.precio} 
                    caracteristicas={audifono.caracteristicas} 
                    rating={audifono.rating}
                    ratingCount={audifono.ratingCount}
                    refLink={audifono.refLink}
                    tienda={audifono.tienda}
                    />
                ))
            }
        </div>
    </section>
    
</Layout>

<style>
    .grid-products{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    section h1, section p{
        color:var(--secondary-color);
        padding: 20px;
    }
    @media(width >= 768px){
        .grid-products{
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        }
    }
</style>