---
import Layout from "../layouts/Layout.astro"
import { funkos } from "../data/juguetes"
import ProductCard1 from "../components/ProductCard1.astro"
import StyleGridContainer1 from "../components/StyleGridContainer1.astro"
import { createFullUrlWithSlug } from "../utils/slugCreator"
import type { ProductCollectionSchema, ProductInCollection } from "../utils/schemas"
const title = "Funko pop de Kuromi - Coleccion completa"
const description = "Adéntrate en el adorable y travieso mundo de Kuromi con nuestra exclusiva selección de funko pop"

const canonical = createFullUrlWithSlug("funko-de-kuromi")

const productsCollection = funkos.map((m) => {
    let product:ProductInCollection = {
        "@type": "Product",
        name:m.nombre,
        image:m.imagen,
        url:m.refLink,
        offers:{
            "@type":"Offer",
            priceCurrency:"EUR",
            price:m.precio.toString(),
            availability:"https://schema.org/InStock"
        },
        brand:{
            "@type":"Brand",
            name:"Kuromi"
        },
        aggregateRating:{
            "@type":"AggregateRating",
            ratingValue:m.rating.toString(),
            reviewCount:m.ratingCount.toString() 
        } 
    }
    return product;
})


const schemaColection:ProductCollectionSchema={
    "@context":"https://schema.org",
    "@type":"ProductCollection",
    name:title,
    description:description,
    url:canonical,
    includesObject:productsCollection
}


---

<Layout title={title} description={description} canonical={canonical} schemas={[schemaColection]}} >
    <section>
        <h1>funko pop de Kuromi | Encuentra tu Compañero Ideal</h1>
        <p>
            Desde el tamaño perfecto para tu colección hasta el compañero ideal para tus aventuras diarias, aquí encontrarás el funko pop de Kuromi que estabas buscando.
        </p>
        <StyleGridContainer1 widthCard="250px">
            {
                funkos.map((p)=>(
                    <ProductCard1 
                    nombre={p.nombre} 
                    imagen={p.imagen} 
                    precio={p.precio}
                    rating={p.rating}
                    ratingCount={p.ratingCount}
                    refLink={p.refLink}
                    tienda={p.tienda}
                    hiddeBtn
                    />
                ))
            }
        </StyleGridContainer1>
    </section>
    <section>
</Layout>

<style>
    h1, h2, section p{
        color:var(--secondary-color);
        padding: 20px;
    }
</style>