---
import Layout from "../layouts/Layout.astro"
import { peluches } from "../data/juguetes"
import ProductCard1 from "../components/ProductCard1.astro"
import StyleGridContainer1 from "../components/StyleGridContainer1.astro"
const title = "Peluches de Kuromi"
const description = "Adéntrate en el adorable y travieso mundo de Kuromi con nuestra exclusiva selección de peluches"
const normales = peluches.filter(p=> p.caracteristicas.altura < 39)
const grandes = peluches.filter(p=> p.caracteristicas.altura >= 40 && p.caracteristicas.altura <= 59)
const gigantes = peluches.filter(p=> p.caracteristicas.altura >= 60)
---

<Layout title={title} description={description} >
    <section>
        <h1>Peluches de Kuromi | Encuentra tu Compañero Ideal</h1>
        <p>
            Desde el tamaño perfecto para tu colección hasta el compañero ideal para tus aventuras diarias, aquí encontrarás el peluche de Kuromi que estabas buscando.
        </p>
        <StyleGridContainer1 widthCard="250px">
            {
                normales.map((p)=>(
                    <ProductCard1 
                    nombre={p.nombre} 
                    imagen={p.imagen} 
                    precio={p.precio} 
                    caracteristicas={p.caracteristicas} 
                    rating={p.rating}
                    ratingCount={p.ratingCount}
                    refLink={p.refLink}
                    tienda={p.tienda}
                    hiddeBtn
                    />
                ))
            }
        </StyleGridContainer1>
    </section>
    <section>
        <h2>¿Un kuromi de peluche grande es Perfecto para Ti?</h2>
        <StyleGridContainer1>
            {
                grandes.map((p)=>(
                    <ProductCard1 
                    nombre={p.nombre} 
                    imagen={p.imagen} 
                    precio={p.precio} 
                    caracteristicas={p.caracteristicas} 
                    rating={p.rating}
                    ratingCount={p.ratingCount}
                    refLink={p.refLink}
                    tienda={p.tienda}
                    hiddeBtn
                    />
                ))
            }
        </StyleGridContainer1>
    </section>
    <section>
        <h2>¿Buscas un abrazo enorme? ¡un kuromi peluche gigante te lo dará!</h2>
        <StyleGridContainer1>
            {
                gigantes.map((p)=>(
                    <ProductCard1 
                    nombre={p.nombre} 
                    imagen={p.imagen} 
                    precio={p.precio} 
                    caracteristicas={p.caracteristicas} 
                    rating={p.rating}
                    ratingCount={p.ratingCount}
                    refLink={p.refLink}
                    tienda={p.tienda}
                    hiddeBtn
                    />
                ))
            }
        </StyleGridContainer1>
    </section>
</Layout>

<style>
    h1, h2, section p{
        color:var(--secondary-color);
        padding: 20px;
    }
</style>